<div class="container">
    <app-navbar title="Users List"></app-navbar>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">User's Information</h4>
                </div>
                <div class="table-responsive">
                    <div class="search-box" style="display: flex;">
                        <input class="form-control" type="text" name="search" 
                        [(ngModel)]="searchUser" autocomplete="off" 
                        placeholder="Search here...">  
                        <button mat-button (click)="getUserInfo('','addUser')" data-toggle="modal" data-target="#formModal"><i class="material-icons">add</i> Add User</button>     
                    </div>
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Select</th>
                                <th>Firstname</th>
                                <th>Email Id</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let data of userData | paginate:{id:'listing_pagination',
                            itemsPerPage: 10,currentPage : page,
                            totalRecords : totalRecords} | filter:searchUser">
                            <td><mat-checkbox ngModel (ngModelChange)="onCheckboxChange($event,data.userId)"></mat-checkbox></td>
                                <td style="cursor: pointer;" (click)="totalInfo(data.userId)" >{{data.firstname}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.username}}</td>
                                <td class="text-primary">{{data.role}}</td>
                                <td><button mat-icon-button><i class="material-icons icon-btn" [matMenuTriggerFor]="userMenu" >edit</i></button></td>
                                <mat-menu #userMenu="matMenu">
                                    <button mat-menu-item (click)="getUserInfo(data,'update')">Update</button>
                                    <button mat-menu-item (click)="deleteUser(data)" >Delete</button>
                                </mat-menu>
                              </tr>
                        </tbody>
                        <div class="row" id="bottomBtnDiv">
                            <button mat-icon-button id="myBtn" color="#006598" data-toggle="modal" data-target="#macIdModel"><i class="material-icons icon-btn">add_circle</i>New Installation</button>
                            <!-- <button mat-icon-button id="myBtn" color="#006598"><i class="material-icons icon-btn">remove_circle</i>Deactivate User</button> -->
                        </div>
                            
                        
                    </table>
                    
                    <div>
                        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" style="text-align: end;"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <app-alert></app-alert>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
                    <div class="modal-body">
                        <div class="row">
                            
                            <div class="col-md-4">
                               <mat-form-field>
                                   <input matInput type="text" placeholder="Firstname" formControlName="firstname">
                               </mat-form-field>

                               <!-- <div id="userId">
                                <mat-form-field>
                                  <input matInput type="text" placeholder="userId" formControlName="userId" value="{{userId}}" [readonly]=readonlyText>
                                </mat-form-field>
                              </div> -->
                            </div>

                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Lastname" formControlName="lastname">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4" id="uNameDiv">
                                <mat-form-field>
                                    <input  matInput type="text" placeholder="Username" formControlName="username" >
                                </mat-form-field>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-4" id="emailDiv">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Email Id" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" id="passwordDiv">
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Password" formControlName="password">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Mobile No." formControlName="mobile_no">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%;">
                                    <input matInput type="text" placeholder="Address" formControlName="address">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6" id="roleDiv">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Role</mat-label>
                                    <select matNativeControl formControlName="role" >
                                        <option value="" disabled selected></option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER">USER</option>
                                        <option value="INSTALLER">INSTALLER</option>
                                    </select>
                                </mat-form-field>
                            </div>
                          
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" mat-button data-dismiss="modal">Close</button>
                        <button mat-button >{{btnAction}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="macIdModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
                <!-- <h3 class="modal-title" id="exampleModalLongTitle">Modal title</h3> -->
                <!-- <p>Node ID</p> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="macIdForm" (ngSubmit)="macIdFormSubmit()">
              <div class="modal-body">
                <mat-form-field style="width: 100%;">
                    <mat-label>Mac Id</mat-label>
                    <input matInput type="text" formControlName="macId">
                </mat-form-field>
                <div *ngIf="submitted && mf.macId.errors" style="color: red;" role="alert">
                    <div *ngIf="mf.macId.errors.required">Mac id is required</div>
                </div>
                <!-- <span>Master-Id: </span><p>{{masterId}}</p><br>
                <span>EndpointId :</span>
                <p *ngFor="let id of endPointId">{{id.endpointId}} </p> -->
              </div>
              <div class="modal-footer">
                <button mat-button>Next</button>
              </div>
            </form>
          </div>
          
        </div>
    </div>
    
    <div class="modal fade" id="installationForm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Installation detail
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="installationForm" (ngSubmit)="installationFormSubmit(installationForm.value)">
                <div class="modal-body">
                    
                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Installation Name" formControlName="installationName">
                    </mat-form-field>
                    
                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Room Name" formControlName="roomName">
                    </mat-form-field>   
                    <div class="row">
                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="End Point Id 1" formControlName="endPointId1" value="{{endPointId1}}">
                        </mat-form-field> -->
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="End-Point 1" formControlName="endPoint1">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" id="">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Type</mat-label>
                                <select matNativeControl formControlName="type1" value="">
                                    <option value="" disabled selected></option>
                                    <option value="Switch">Switch</option>
                                    <option value="Dimmer">Dimmer</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </mat-form-field>
                        </div>
                      
                    </div>

                    <div class="row">
                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="End-Point Id 2" formControlName="endPointId2" value="{{endPointId2}}">
                        </mat-form-field> -->
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="End-Point 2" formControlName="endPoint2">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" id="">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Type</mat-label>
                                <select matNativeControl formControlName="type2" value="">
                                    <option value="" disabled selected></option>
                                    <option value="Switch">Switch</option>
                                    <option value="Dimmer">Dimmer</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </mat-form-field>
                        </div>
                      
                    </div>

                    <div class="row">
                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="End-Point Id 3" formControlName="endPointId3" value="{{endPointId3}}">
                        </mat-form-field> -->
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="End-Point 3" formControlName="endPoint3">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" id="">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Type</mat-label>
                                <select matNativeControl formControlName="type3" value="">
                                    <option value="" disabled selected></option>
                                    <option value="Switch">Switch</option>
                                    <option value="Dimmer">Dimmer</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </mat-form-field>
                        </div>
                      
                    </div>

                    <div class="row">
                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="End-Point Id 4" formControlName="endPointId4" value="{{endPointId4}}">
                        </mat-form-field> -->
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="End-Point 4" formControlName="endPoint4">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" id="">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Type</mat-label>
                                <select matNativeControl formControlName="type4" value="">
                                    <option value="" disabled selected></option>
                                    <option value="Switch">Switch</option>
                                    <option value="Dimmer">Dimmer</option>
                                    <option value="Disable">Disable</option>
                                </select>
                            </mat-form-field>
                        </div>
                      
                    </div>
                </div>
                <div class="modal-footer">
                    <button mat-button>Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
