<div class="container">
    <app-navbar title="Dashboard"></app-navbar>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">preview</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Monitoring</h4>
                </div>

                <iframe type="text/html" frameborder="0" width="100%" height="560px" src="//video.nest.com/embedded/live/20Um4IDZkg?autoplay=1" allowfullscreen></iframe>
            
            </div>
        </div>
    </div>
</div>