<div class="container">
    <app-navbar title="User's Total Details"></app-navbar>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                        <h4 class="card-title">User's information ({{userId}})</h4>
                    
                        <button mat-button (click)="onBack()"><i class="material-icons">keyboard_return</i></button>
                </div>
                <mat-tab-group>
                    <mat-tab label="Installation">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>InstallationId</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Created_by</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let installationData of installationDetails">
                                    <td>{{installationData["installationId"]}}</td>
                                    <td>{{installationData["title"]}}</td>
                                    <td>{{installationData["status"]}}</td>
                                    <td>{{installationData["created_by"]}}</td>
                                </tr>
                                </tbody>  
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Devices" >
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>MacNodeID</th>
                                    <!-- <th>MasterId</th>
                                    <th>MacId</th> -->
                                    <th>SSID</th>
                                    <th>HW version</th>
                                    <th>SW version</th>
                                    <th>Status</th>
                                    <th>NodeType</th>
                                    <th>LastAliveOn</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr *ngFor="let nodeData of nodeDetails" (click)="getNodeGraph(nodeData['masterId'])" style="cursor: pointer;">
                                    <td>{{nodeData["macId"]}}</td>
                                    <td>{{nodeData["ssid"]}}</td>
                                    <td>{{nodeData["hardwareVersion"]}}</td>
                                    <td>{{nodeData["currentVersion"]}}</td>
                                    <td>{{nodeData["status"]}}</td>
                                    <td>{{nodeData["nodeType"]}}</td>
                                    <td>{{nodeData["last_alive_on"]}}</td>
                                </tr>
                            </tbody>  
                        </table>
                    </mat-tab>


                    <mat-tab label="Service Request">Service Request Data</mat-tab>
                    <mat-tab label="Service">Service Data</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nodeChartModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Node Status Chart</h4>
            </div>
            <div class="modal-body">
                <div class="loader" id="chartLoader">
                    <p style="margin-top: 30px;">Loading...</p>
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                  </div>
                    <canvas id="nodeChart"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>