<div class="container">
    <app-navbar title="User's Total Details"></app-navbar>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                    <!-- <div> -->
                        <h4 class="card-title">User's information ({{userId}})</h4>
                    <!-- </div> -->
                    
                        <button mat-button (click)="onBack()"><i class="material-icons">keyboard_return</i></button>     
                    
                </div>
                <mat-tab-group>
                    <mat-tab label="Installation">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>InstallationId</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Created_by</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let installationData of installationDetails">
                                    <td>{{installationData["installationId"]}}</td>
                                    <td>{{installationData["title"]}}</td>
                                    <td>{{installationData["status"]}}</td>
                                    <td>{{installationData["created_by"]}}</td>
                                </tr>
                                </tbody>  
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Devices" >
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>MacNodeID</th>
                                    <!-- <th>MasterId</th>
                                    <th>MacId</th> -->
                                    <th>SSID</th>
                                    <th>HW version</th>
                                    <th>SW version</th>
                                    <th>Status</th>
                                    <th>NodeType</th>
                                    <th>LastAliveOn</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr *ngFor="let nodeData of nodeDetails">
                                    <td>{{nodeData["macId"]}}</td>
                                    <td>{{nodeData["ssid"]}}</td>
                                    <td>{{nodeData["hardwareVersion"]}}</td>
                                    <td>{{nodeData["currentVersion"]}}</td>
                                    <td>{{nodeData["status"]}}</td>
                                    <td>{{nodeData["nodeType"]}}</td>
                                    <td>{{nodeData["last_alive_on"]}}</td>
                                </tr>
                            </tbody>  
                        </table>
                    </mat-tab>


                    <mat-tab label="Service Request">Service Request Data</mat-tab>
                    <mat-tab label="Service">Service Data</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>